body {
	font: 15px/1.5 'Josefin Sans', sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4
}

/*Global*/
.container{
	width: 90%;
	margin: auto;
	overflow: hidden;
}

ul{
	padding: 0;
	margin: 0;
}

.button_1{
	height: 38px;
	background: #b03368;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	color: #fff6d0;
}

.dark{
	padding: 15px;
	background: #5c021c;
	color: #fff6d0;
	margin-top: 10px;
	margin-bottom: 10px;
}


/*header*/
header{
	background: #5c021c;
	color: #fff6d0;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #fff6d0 3px solid;
}

header a{
	color: #fff6d0;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header li{
	float:left;
	display: inline;
	padding: 0px 20px 0 20px;
}

header #branding{
	float:left;
}

header #branding h1{
	margin: 0;
}

header nav {
	float: left;
	margin-top: 0px;
}

header .highlight, header .current a{
	color: #f9d3b4;
	font-weight: bold;
}

header a:hover{
	color: #f3ecdf;
	font-weight: bold;
}

/*showcase*/
#showcase{
	min-height: 600px;
	background: url("../img/waters2.jpg") no-repeat 0 -600px;
	text-align: center;
	color: #fff6d0;
}

#showcase h1{
	margin-top: 100px;
	font-size: 55px;
	margin-bottom: 10px;
}

#showcase p{
	font-size: 20px;
}

/*newsletter*/
#newsletter{
	padding: 10px;
	color: #b03368;
	background: #e2b0bc;
}

#newsletter h1{
	float: left;
	font-size: 23px;
}
#newsletter form{
	float: right;
	margin-top: 20px;
}

#newsletter input[type="email"]{
	padding: 4px;
	height: 25px;
	width: 240px;
}

/*boxes*/
#boxes{
  margin-top:20px;
}

#boxes .box{
  float:right;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
	width: 100px;
}
/*sidebar*/
aside#sidebar{
	float: right;
	width: 30%;
	margin-top: 10px;
}



/*main-col*/
article#main-col{
	float: left;
	width: 65%;
	font-color: #fff6d0;
}

/*Facts*/
ul#facts li{
	list-style: none;
	padding: 20px;
	border: #e2b0bc	solid 1px;
	margin-bottom: 5px;
	background-color: #9c1f42;
	color: #fff6d0;
}


footer{
	padding: 20px;
	margin-top: 20px;
	color: #fff6d0;
	background-color: #fe709c;
	text-align: center;
}

/*Media queries*/
@media(max-width: 768px) {
	header #branding,
	header nav,
	header nav li,
	#newsletter h1,
	#newsletter form,
	#boxes .box,
	article#main-col,
	aside#sidebar,
	aside#sidebar li{
		float: none;
		text-align: center;
		width: 100%;
	}
	header{
		padding-bottom: 20px;
	}
	#showcase h1 {
		margin-top: 40px;
	}
	#newsletter button{
		display: block;
		width: 100%;
	}
	#newsletter form input[type="email"]{
		width: 100%;
		margin-bottom: 5px;
	}
}
